<div class="footer">
	<about></about>
	<div class="footer-bottom">
		<ul class="inline-list">
		  <li>
		    <a href="http://twitter.com/ghanbak" target="_blank"><i class="fa fa-twitter"></i></a>
		  </li>
		  <li>
		    <a href="http://dribbble.com/ghanbak" target="_blank"><i class="fa fa-dribbble"></i></a>
		  </li>
		  <li>
		    <a href="http://github.com/ghanbak" target="_blank"><i class="fa fa-github"></i></a>
		  </li>
		  <li>
		    <a href="http://ethanmac.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
		  </li> 
		</ul>
		<div class="copyright"><p>&copy; <span id="year"></span> ethan macdonald</p></div>
	</div>
	<script type="text/javascript">
		var currentYear = (new Date).getFullYear();
		$(document).ready(function() {
			$("#year").text( (new Date).getFullYear() );
		});
	</script>
</div>
